<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com-shortsands-pkzip"
    version="1.0.0">
	<name>PKZip</name>
	<description>Plugin to Zip Services</description>
	<author>Gary Griswold</author>
	<engines>
    	<engine name="cordova" version=">=6.0.0"/>
	</engines>

	<js-module name="PKZip" src="www/PKZip.js">
    	<clobbers target="PKZip" />
	</js-module>
	
	<platform name="android">
    	<config-file target="config.xml" parent="/*">
			<feature name="PKZip">
				<param name="android-package" value="plugin.PKZip"/>
			</feature>
		</config-file>
		<source-file src="src/android/plugin/PKZip.java" target-dir="src/plugin"/>
		<source-file src="src/android/app/libs/Zip.jar" target-dir="src/libs" />
	</platform>
	
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
	    	<feature name="PKZip">
				<param name="ios-package" value="PKZip" />
			</feature>
		</config-file>
		<source-file src="src/ios/PKZip.swift" />
		<framework src="src/ios/build/Zip.framework" embed="true" custom="true" />
	</platform>

</plugin>
