<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com-shortsands-videoplayer"
    version="1.0.3">
	<name>VideoPlayer</name>
	<description>Plugin to Access Native Video Player</description>
	<author>Gary Griswold</author>
	<engines>
    	<engine name="cordova" version=">=6.0.0"/>
	</engines>

	<js-module name="VideoPlayer" src="www/VideoPlayer.js">
    	<clobbers target="VideoPlayer" />
	</js-module>

	<platform name="android">
    	<config-file target="config.xml" parent="/*">
			<feature name="VideoPlayer">
				<param name="android-package" value="plugin.VideoPlayer"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.shortsands.videoplayer.VideoActivity" android:label="VideoActivity" android:screenOrientation="landscape"></activity>
			<service android:enabled="true" android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService" />
		</config-file>
		<source-file src="src/android/plugin/VideoPlayer.java" target-dir="src/plugin" />
		<lib-file src="src/android/plugin/VideoPlayer.jar" target-dir="src/libs" />
		<lib-file src="src/android/app/libs/AWS.jar" target-dir="src/libs" />
		<lib-file src="src/android/app/libs/Zip.jar" target-dir="src/libs" />
		<lib-file src="src/android/app/libs/aws-android-sdk-core-2.4.2.jar" target-dir="src/libs" />
		<lib-file src="src/android/app/libs/aws-android-sdk-s3-2.4.2.jar" target-dir="src/libs" />		
		<framework src="src/android/plugin/plugin.gradle" custom="true" type="gradleReference"/>
	</platform>
  
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
	    	<feature name="VideoPlayer">
				<param name="ios-package" value="VideoPlayer" />
			</feature>
		</config-file>
		<source-file src="src/ios/VideoPlayer.swift" />
		<framework src="src/ios/build/VideoPlayer.framework" custom="true" embed="true" />
		<framework src="src/ios/VideoPlayer/AWS.framework" custom="true" embed="true" />
		<framework src="src/ios/VideoPlayer/AWSCore.framework" custom="true" embed="true" />
		<framework src="src/ios/VideoPlayer/Zip.framework" custom="true" embed="true" />
		<framework src="MediaPlayer.framework" />
	</platform>

</plugin>
