<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com-shortsands-videoplayer"
    version="1.0.3">
	<name>VideoPlayer</name>
	<description>Plugin to Access Native Video Player</description>
	<author>Gary Griswold</author>
	<engines>
    	<engine name="cordova" version=">=6.0.0"/>
	</engines>

	<js-module name="VideoPlayer" src="www/VideoPlayer.js">
    	<clobbers target="VideoPlayer" />
	</js-module>

	<platform name="android">
    	<config-file target="config.xml" parent="/*">
			<feature name="VideoPlayer">
				<param name="android-package" value="com.shortsands.videoplayer.VideoPlayer"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.shortsands.videoplayer.VideoActivity" android:label="VideoActivity" android:screenOrientation="landscape"></activity>
		</config-file>
		<source-file src="src/android/com/shortsands/videoplayer/VideoPlayer.java" target-dir="src/com/shortsands/videoplayer" />
		<source-file src="src/android/com/shortsands/videoplayer/VideoActivity.java" target-dir="src/com/shortsands/videoplayer" />
		<source-file src="src/android/com/shortsands/videoplayer/VideoPersistence.java" target-dir="src/com/shortsands/videoplayer" />
		<source-file src="src/android/com/shortsands/videoplayer/EventLogger.java" target-dir="src/com/shortsands/videoplayer" />
		<!-- change library to a more limited one when done. -->
		<!-- <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/> -->
		<!-- Need something to copy build-extras.gradle to proper location. -->
	</platform>
  
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
	    	<feature name="VideoPlayer">
				<param name="ios-package" value="VideoPlayer" />
			</feature>
		</config-file>
		<source-file src="src/ios/VideoPlayer.swift" />
		<framework src="src/ios/build/VideoPlayer.framework" custom="true" embed="true" />
		<framework src="src/ios/VideoPlayer/AWS.framework" custom="true" embed="true" />
		<framework src="src/ios/VideoPlayer/AWSCore.framework" custom="true" embed="true" />
		<framework src="src/ios/VideoPlayer/Zip.framework" custom="true" embed="true" />
		<framework src="MediaPlayer.framework" />
	</platform>

</plugin>
