*.log
*.xcuserstate
*.db
*.db1
*.db2
*.db3
*.db4
temp.js
newrelic.js
Credentials.js
Credentials.db
Versions.db
GitIgnore/
licensed/
platforms/
StaticRoot/
certificates/
Validation/output/
node_modules/
xcdebugger/
com-shortsands-videoplayer/
