<!DOCTYPE html>
<html style="height: 100%">
<head>
	<title>Roles View</title>
</head>
<style>
	table {
		border: solid;
		margin: 0px auto;
	}
	th {
		border: solid;
	}
</style>
<body style="height: 100%">
	<h1 style="text-align: center">Manage Roles</h1>
	<table id="rolesView" style="width: 90%; font-family: helvetica, sans-serif; background: radial-gradient(at top right, rgba(255, 255, 0, 0.8), #006bff, rgba(3, 47, 167, 0.83), #009970, #148000);">
		<tr><th colspan="3">Person</th><th colspan="5">Role</th></tr>
		<tr><th>&nbsp;</th><th>Fullname</th><th>Pseudonym</th><th>Position</th><th>Version</th><th>Started</th><th>Count</th><th>&nbsp</th></tr>
		<tbody id="rolesBody">
			<tr>
				<td>&nbsp;</td>
				<td>Bob Smith</td>
				<td>Bob</td>
				<td>Teacher</td>
				<td>KVJ</td>
				<td>3/3/2013</td>
				<td>20</td>
				<td>&nbsp;</td>
			</tr>
		</tbody>
	</table>
</body>
</html>