/**
* This css files pertains to the CodexView
*/
body {
	margin: 0;
}
#codexRoot {
	margin: 7%;
	font-family: serif;
	font-size: 14pt;
	color: #000000;
	line-height: 1.3; /* non-std */
	text-align: justify; /* non-std */
	direction: ltr;
}
/* Paged Layout */
/*body {// not working
	page: auto;
	break-before: avoid-page;
	orphans: 2;
	widows: 2;
	column-count: 3;
	column-gap: 2.5%;
}*/
/* remove scrollbars, ideally only for #codexRoot
but, I have only been able to do it for all. */
::-webkit-scrollbar { 
    display: none;
}
/* article element is at beginning of each book */
article { /* non-std */
	margin-bottom: 1.0in;
}
/* Book Title Main */
p.mt {
	font-weight: bold;
	font-size: 1.66em;
	text-align: center;
	margin-bottom: 4pt;
	margin-top: 8pt;
	color: #0943B2; /* non-std */
}
/* Book Main Title, Level 1 */
p.mt1 {
	font-weight: bold;
	font-size: 1.66em;
	text-align: center;
	margin-bottom: 4pt;
	margin-top: 2pt;
	color: #0943B2; /* non-std */
}
/* Book Title Above Main TitleSmaller */
p.mt2 {
	font-size: 1.33em;
	font-style: italic;
	text-align: center;
	margin-bottom: 2pt;
	color: #0943B2; /* non-std */
}
/* Book Title Smallest */
p.mt3 {
	font-weight: bold;
	font-size: 1.33em;
	text-align: center;
	margin-bottom: 2pt;
	margin-top: 2pt;
	color: #0943B2; /* non-std */
}
/* Section Heading */
p.ms {
	font-weight: bold;
	font-size: 1.16em;
	text-align: center;
	margin-bottom: 4pt;
	margin-top: 16pt;
	color: #0943B2; /* non-std */
}
/* Section Heading Level 1 */
p.ms1 {
	font-weight: bold;
    font-size: 1.16em;
    text-align: center;
    margin-bottom: 4pt;
	margin-top: 16pt;
	color: #0943B2; /* non-std */
}
/* Descriptive Title */
p.d {
	font-style: italic;
	text-align: center;
	margin-bottom: 4pt;
	margin-top: 4pt;
	color: #0943B2;
}
/* Chapter Number Format */
p.c {
	font-size: 1.5em;
	color: #005AB3; /* non-std */
	text-align: start;
	margin-top: 8pt;
	margin-bottom: 4pt;
}
/* p.cl Chapter Label is not yet supported
the p.cl appears once at the beginning of Psalms
and needs to be repeated with each chapter.
Supporting this is a TBD */
/* Verse Number Format */
span.v {
	font-family: sans-serif; /* non-std */
	font-size: 0.66em;
	color: #777777; /* non-std */
	text-align: start;
	vertical-align: text-top;
	white-space: nowrap;
}
/* Normal Paragraph Text */
p.p {
	text-align: start;
	text-indent: 0.125in;
}
/* Normal Paragraph w/o Indentation */
p.m {
	text-align:left;
	text-indent: 0;
}
/* p.b is blank line */
p.b {
	text-indent: start;
	font-size: 0.83em;
}
/* Start of Blockquote */
p.mi {
	text-align: start;
	margin-left: 0.25in;
	margin-right: 0.25in;
}
/* Continuation of Blockquote */
p.pi {
	text-align: start;
	text-indent: 0.125in;
	margin-left: 0.25in;
	margin-right: 0.25in;
}
/* Out indented list item */
p.li {
	text-indent: -0.375in;
	text-align: start;
	margin-left: 0.5in;
}
/* Out indented list item level 1 */
p.li1 {
	text-indent: -0.375in;
	text-align: start;
	margin-left: 0.5in;
}
/* Speaker Name */
p.sp {
	font-style: italic;
	text-align: start;
	margin-bottom: 4pt;
	margin-top: 8pt;
}
/* Poetry First Line */
p.q {
	text-align: start;
	text-indent: -1.0in;
	margin-left: 1.25in;
	margin-top: 0; /* non-std */
	margin-bottom: 0; /* non-std */
}
/* Poetry First Line */
p.q1 {
	text-align: start;
	text-indent: -1.0in;
	margin-left: 1.25in;
	margin-top: 0; /* non-std */
	margin-bottom: 0; /* non-std */
}
/* Poetry Second Line */
p.q2 {
	text-align: start;
	text-indent: -0.75in;
	margin-left: 1.25in;
	margin-top: 0; /* non-std */
	margin-bottom: 0; /* non-std */
}
/* Continuation Paragraph as start of Chapter */
p.nb {
	text-align: start;
	text-indent: 0;
}
/* Selah */
span.qs {
	display: block; /* non-std */
	text-align: right; /* non-std left is std */
	/* This needs to right align with the poetry, not the width of the page. */
	font-style: italic;
}
/* Words of Jesus */
span.wj {
	color: #FF3333; /* std is #FF0000 */
	text-align: start;
}
/* footnote references */
span.topf, span.topx {
	text-align: start;
	color: #FFB4B5; /* non-std */
}
/* footnotes */
span.f, span.ft {
	text-indent: start;
	color: #555555; /* non-std */
	background-color: #FFFFB4; /* non-std */
	/* font-style: italic; */
}
/* footnote alternate translation */
span.fqa {
	text-align: start;
	font-style: italic;
	color: #999999 ; /* non-std */
	background-color: #FFFFB4; /* non-std */
}
/* cross references */
span.x, span.xt {
	text-align: start;
	color: #555555; /* non-std */
	background-color: #CEE7FF; /* non-std */
}