/*
* Copyright.css
*/
span.copyright {
	font-family: sans-serif;
	font-size: 0.66rem;
	color: #777777;
	vertical-align: text-middle; /* to vertically align text to hand in copylink */
}
span.copylink {
	font-size: 1.0rem;
	vertical-align: text-top;
	color: blue;
}
#attribution {
  background-color: rgba(76,192,133,0.1);/*rgba(255, 246, 233, 0.9);*/
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: right; /* Needed to right align X */
}
p.attribVers {
	font-size: 1.33rem;
	text-align: center;
	margin-bottom: 0px;
}
div.attribCopy {
	font-size: 1.0rem;
	text-align: start;
	/*margin-top: 0px;*/
}
p.attribLink {
	color: blue;
	text-decoration: underline;
	text-align: center;
	direction: ltr;
}
#closeIcon {
	margin-top: 7px;
	margin-bottom: 0px;
}
span.copyTitle {
	margin-bottom: 0px;
	font-family: sans-serif;
	font-size: 1.5rem;
	color: #2E9EC9;
}
span.copyAbbr {
	margin-bottom: 0px;
	font-family: sans-serif;
	font-size: 1.4rem;
	color: #2E9EC9;
	direction: ltr;
}

