/**
* This css files pertains to the HistoryView
*/

#historyRoot {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 200;
  /*border-style: solid; for testing */
}
#historyTabBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li.historyTab {
  margin: 0;
  padding: 2px;
  text-align: right;
}
button.historyTabBtn {
  background-color: #CFFFF6;
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: sans-serif;
  font-size: 0.8rem;
}