/* ctyList */
/*#ctyList { width:320px; font-family:Georgia, Times, serif; font-size:15px; }
#ctyList ul { list-style: none; }
#ctyList ul li { }
#ctyList ul li a { display:block; text-decoration:none; color:#000000; background-color:#FFFFFF; line-height:30px;
  border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#CCCCCC; padding-left:10px; cursor:pointer; }
#ctyList ul li a:hover { color:#FFFFFF; background-image:url(../images/hover.png); background-repeat:repeat-x; }
#ctyList ul li a strong { margin-right:10px; }*/
