/**
* This css file pertains to the TableContentsView
*/

#tocRoot {
	position: absolute; /* Needed because tocRoot.style.y is set in AppControllerView */
	left: 0;
	top: 0;
	margin-top: 0;
	margin-bottom: 0%; /* this doesn't seem to work */
	margin-left: 0;
	margin-right: 0;
	z-index: 100;
	width: 100%;
}
/* Table of Contents Page Format */
div.tocPage { /* non-std */
	padding-left: 10%;
	padding-right: 10%;
}
/* Table of Contents Book Name Format */
p.tocBook { /* non-std */
	font-family: sans-serif;
	font-size: 1.5rem;
	color: #777777;
	text-align: start;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
/* Table of Contents Chapter Number Format */
table.tocChap { /* non-std */
	table-layout: fixed;
	border-collapse: collapse;
	font-family: sans-serif;
	font-size: 1.0rem;
	color: #777777;
	width: 100%;
	text-align: center;
	line-height: 2.0;
}
/* Table of Contents Chapter number cells */
td.tocChap { /* non-std */
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
}
p.versionName {
	margin-bottom: 0px;
	font-family: sans-serif;
	font-size: 1.5rem;
	color: #777777;
}
p.copyright {
	margin-top: 0px;
	font-family: sans-serif;
	font-size: 1.0rem;
	color: #777777;
}
