* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 1.0rem; /* 16pt */
}

body {
    font-family: Cambria, Times;
    line-height: 1.8;
    padding-left: 5%; /* padding changed from 20px, GNG 2/19/19 */
    padding-top: 5%;
    padding-right: 3%;
    padding-bottom: 5%;
    
}

/* Affects notes and bookmarks */
a {
    text-decoration: none;
    /* color: #333; GNG removed 1/3/19 */
}

/* book name */
div.bookname {
    pointer-events: none;
    cursor: default;
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #777;
    text-align: center;
}

/* chapter number */
p.c {
    float: left;
    font-size: 2.0rem; /* 2em */
    line-height: 1;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-right: 0.3rem; /* .2em */
    margin-left: 0;
    font-family: avenir, helvetica;
}
p.c + p {
    text-indent: 0;
}

/* article element is at beginning of each book */
article { /* non-std */
    margin-bottom: 1.0in;
}
/* line 76, Introduction Major Title */
p.imt, p.imt1 {
    font-weight: bold;
    font-size: 1.24rem;
    text-align: center;
    margin-bottom: 4pt;
    margin-top: 8pt;
    color: #2A48B4; /* non-std */
}
/* line 145, Introduction Section heading, Level 1 */
p.is, p.is1 {
    font-weight: bold;
    font-size: 1.16rem;
    text-align: center;
    margin-bottom: 4pt;
    margin-top: 8pt;
    color: #2A48B4; /* non-std */
}
/* line 171, Introduction - Outline Title */
p.iot {
    font-weight: bold;
    text-align: center;
    margin-bottom: 4pt;
    margin-top: 8pt;
    color: #777777; /* non-std */
}
/* line 179, Introduction Outline Text Level 1 */
p.io, p.io1 {
    text-align: start;
    margin-left: 1.0rem; /* std 0.5in */
    margin-right: 0;
    color: #777777; /* non-std */
}
/* line 191, Introduction Outline Text Level 2 */
p.io2 {
    text-align: start;
    margin-left: 2.0rem; /* std 0.75in */
    margin-right: 0;
    color: #777777; /* non-std */
}
/* line 214, Introduction Prose Paragraph (basic) */
p.ip {
    text-align: start;
    text-indent: 1.0rem; /* std 0.125in */
    color: #777777; /* non-std */
}
/* line 225, Introduction - Indented Para - first line indent */
p.ipi {
    text-indent: 1.0rem; /* std 0.125in */
    text-align: start;
    /*margin-left: 0.25in; std */
    /*margin-right: 0.25in; std */
    color: #777777; /* non std */
}
/* line 344, Chapter Number Format */
/*p.c {
    font-size: 1.5rem;
    color: #2A48B4; /* non-std */
    /*text-align: start;
    margin-top: 8pt;
    margin-bottom: 4pt;
}*/
/* p.cl Chapter Label is not yet supported
 the p.cl appears once at the beginning of Psalms
 and needs to be repeated with each chapter.
 Supporting this is a TBD */
/* line 388, Verse Number Format */
span.v {
    font-weight: bold;
    font-size: 0.7rem;
    vertical-align: top;
    color: #888888; /* non-std */
    font-family: sans-serif; /* non-std */
    text-align: start;
    /* white-space: nowrap; std, but meaningless, use &nbsp; */
}
/* line 412, Normal Paragraph Text */
p.p {
    text-align: start;
    text-indent: 1.0rem; /* std 0.125 */
}
/* line 418, Normal Paragraph w/o Indentation */
p.m {
    text-align: start;
    text-indent: 0;
}
/* line 452, Paragraph Indented Level 1 */
p.pi, p.pi1 {
    text-align: start;
    text-indent: 1.0rem; /* std 0.125in */
    margin-left: 1.0rem; /* std 0.25in */
    margin-right: 1.0rem; /* std 0.25in */
}
/* line 484, Paragraph - Centered (for Inscription) */
p.pc {
    text-align: center;
    margin-top: 0; /* non std */
    margin-bottom: 0; /* non std */
}
/* line 489, Start of Blockquote */
p.mi {
    text-align: start;
    margin-left: 1.0rem; /* std 0.25in */
    margin-right: 1.0rem; /* std 0.25in */
}
/* line 496, Continuation Paragraph as start of Chapter */
p.nb {
    text-align: start;
    text-indent: 0;
}
/* line 506, Poetry First Line */
p.q, p.q1 {
    text-align: start;
    text-indent: -2.5rem; /* std -1.0in */
    margin-left: 3.0rem; /* std 1.25in */
    margin-right: 0;
    margin-top: 0; /* non-std */
    margin-bottom: 0; /* non-std */
}
/* line 520, Poetry Second Line */
p.q2 {
    text-align: start;
    text-indent: -1.5rem; /* std -0.75in */
    margin-left: 3.0rem; /* std 1.25in */
    margin-right: 0;
    margin-top: 0; /* non-std */
    margin-bottom: 0; /* non-std */
}
/* line 541, Poetry Centered */
p.qc {
    text-align: center;
}
/* line 551, Poetry Text - Selah */
span.qs {
    display: block; /* non-std */
    text-align: right; /* non-std left is std */
    /* This needs to right align with the poetry, not the width of the page. */
    font-style: italic;
}
/* line 557, Poetry, Acrostic Heading|Marker */
p.qa {
    font-size: 1.16rem;
    font-style: italic;
    text-align: start;
}
/* line 597, p.b is blank line */
p.b {
    text-indent: start;
    font-size: 0.83rem;
}
/* line 603, Book Title Main */
p.mt, p.mt1 {
    font-weight: bold;
    font-size: 1.66rem;
    text-align: center;
    margin-bottom: 4pt;
    margin-top: 8pt;
    color: #2A48B4; /* non-std */
}
/* line 621, Book Title Above Main TitleSmaller */
p.mt2 {
    font-size: 1.33rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 2pt;
    color: #2A48B4; /* non-std */
}
/* line 629, Book Title Smallest */
p.mt3 {
    font-weight: bold;
    font-size: 1.16rem;
    text-align: center;
    margin-top: 2pt;
    margin-bottom: 2pt;
    color: #2A48B4; /* non-std */
}
/* line 638, Book title level 4 */
p.mt4 {
    text-align: center;
    margin-top: 2pt;
    margin-bottom: 2pt;
    color: #2A48B4; /* non-std */
}
/* line 671, Major Section Heading */
p.ms, p.ms1 {
    font-weight: bold;
    font-size: 1.16rem;
    text-align: center;
    margin-bottom: 4pt;
    margin-top: 16pt;
    color: #2A48B4; /* non-std */
}
/* line 707, Heading - Major Section Range References */
p.mr {
    font-style: italic;
    text-align: center;
    margin-bottom: 4pt;
    margin-top: 4pt; /* non std */
    color: #2A48B4; /* non-std */
}
/* line 714, Heading - Section Level 1 */
p.s, p.s1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 4pt;
    margin-top: 8pt;
    color: #2A48B4; /* non-std */
}
/* line 730, Heading - Section Level 2 */
p.s2 {
    font-style: italic;
    text-align: center;
    margin-bottom: 4pt;
    margin-top: 8pt;
    color: #2A48B4; /* non-std */
}
/* line 761, Heading - Parallel References */
p.r {
    font-style: italic;
    text-align: center;
    margin-bottom: 4pt;
    color: #2A48B4; /* non-std */
}
/* line 768, Speaker Name */
p.sp {
    font-style: italic;
    text-align: start;
    margin-bottom: 4pt;
    margin-top: 8pt;
}
/* line 776, Descriptive Title */
p.d {
    font-style: italic;
    text-align: center;
    margin-bottom: 4pt;
    margin-top: 4pt;
    color: #2A48B4; /* non-std */
}
table.usx {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
/* line 784, Table - Row */
tr.usx {
    width: 100%;
}
/* line 792, Table - Column 1 Heading */
td.th1, td.th2, td.th3, td.th4, td.th5 {
    font-style: italic;
    text-align: start;
    padding-left: 5%; /* non std */
    padding-right: 5%; /* non std */
    border-bottom-style: dotted; /* non std */
    border-width: thin; /* non std */
}
/* line 821, Table - Cell */
td.tc1, td.tc2, td.tc3, td.tc4, td.tc5 {
    text-align: start;
    padding-left: 5%; /* non std */
    padding-right: 5%; /* non std */
    border-bottom-style: dotted; /* non std */
    border-width: thin; /* non std */
}
/* line 821, Table - Cell */
td.tcr1, td.tcr2, td.tcr3, td.tcr4, td.tcr5 {
    text-align: end;
    padding-left: 5%; /* non std */
    padding-right: 5%; /* non std */
    border-bottom-style: dotted; /* non std */
    border-width: thin; /* non std */
}
/* line 956, Out indented list item level 1 */
p.li, p.li1 {
    text-align: start;
    text-indent: -1.5rem; /* std -0.375in */
    margin-left: 2.0rem; /* std 0.5in */
    margin-right: 0;
}
/* footnote references */
span.topf, span.topx {
    text-align: start;
    color: #FFB4B5;/* non-std */
}
/* line 991, footnotes */
span.f, span.ft {
    text-indent: start;
    /* font-style: italic; */
}
/* line 1012, Footnote - Keyword i.e. word that footnote explains */
span.fk {
    font-weight: bold;
    font-style: italic;
    text-align: start;
}
/* line 1025, footnote alternate translation */
span.fqa {
    text-align: start;
    font-style: italic;
}
/* line 1043, verse number embedded in footnote */
span.fv {
    text-align: start;
    vertical-align: text-top;
    font-size: 0.66rem;
    font-family: sans-serif; /* non-std? */
}
/* line 1055, Footnote - Additional Caller to Previous Note */
span.fm {
    text-align: start;
    vertical-align: text-top;
    font-size; 0.66rem;
}
/* line 1062, cross references */
span.x, span.xt {
    text-align: start;
}
/* line 1105, Cross Reference - Inline Quotation References */
span.rq {
    display: block; /* inconsistent with DBL, but consistent with usfm spec */
    font-size: 0.83rem;
    font-style: italic;
    text-align: end; /* inconsistent with DBL, but consistent with usfm spec */
}
/* line 1118, Name of Diety */
span.nd {
    text-align: start;
    font-variant: small-caps;
}
/* line 1124, Transliterated Word */
span.tl {
    font-style: italic;
    text-align: start;
}
/* line 1136, Special Text - Quoted book title */
span.bk {
    font-style: italic;
    text-align: start;
}
/* line 1148, Proper Name */
span.pn {
    text-align: start;
    font-weight: bold;
    text-decoration: underline;
}
/* line 1163, Words of Jesus */
span.wj {
    color: #FF3333; /* std is #FF0000 */
    text-align: start;
}
/* line 1169, Special Text - Keyword */
span.k {
    font-weight: bold;
    font-style: italic;
    text-align: start;
}
/* line 1189, Translator's Addition */
span.add {
    /* font-weight: bold; std */
    font-style: italic;
    text-align: start;
}
/* line 1207, Character - Italic Text */
span.it {
    font-style: italic;
    text-align: start;
}
/* line 1213, Character - Bold Text */
span.bd {
    font-weight: bold;
    text-align: start;
}
/* line 1232, Character - Small Caps */
span.sc {
    font-variant: small-caps;
    text-align: start;
}
/* line 1238, Break - Page Break */
p.pb {
    text-align: start;
    margin-bottom: 1.0in;
    /* What should I do here to simulate a page break */
}
/* line 1254, Peripheral Ref - Wordlist Entry */
span.w {
    text-align: start;
    font-weight: bold; /* non std */
}
/* line 1274, Peripherals - Content Division Marker */
p.periph {
    display: none;
}
/* line 1406, OBSOLETE toc Peripherals - Front Matter Table of Contents */
p.toc {
    display: none;
}
