<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com-shortsands-audioplayer"
    version="0.0.1">
	<name>AudioPlayer</name>
	<description>Plugin to Access Native Audio Player</description>
	<author>Gary Griswold</author>
	<engines>
    	<engine name="cordova" version=">=6.0.0"/>
	</engines>

	<js-module name="AudioPlayer" src="www/AudioPlayer.js">
    	<clobbers target="AudioPlayer" />
	</js-module>

	<platform name="android">
    	<config-file target="config.xml" parent="/*">
			<feature name="AudioPlayer">
				<param name="android-package" value="com.shortsands.audioplayer.AudioPlayer"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
		</config-file>
		<!-- <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.shortsands.videoplayer.AudioPlayer" android:label="AudioPlayer" android:screenOrientation="landscape"></activity>
		</config-file> -->
		<source-file src="src/android/com/shortsands/audioplayer/AudioPlayer.java" target-dir="src/com/shortsands/audioplayer" />
		<source-file src="src/android/com/shortsands/audioplayer/AudioService.java" target-dir="src/com/shortsands/audioplayer" />
		<source-file src="src/android/com/shortsands/audioplayer/AudioPersistence.java" target-dir="src/com/shortsands/audioplayer" />
		<source-file src="src/android/com/shortsands/audioplayer/EventLogger.java" target-dir="src/com/shortsands/audioplayer" />
	</platform>
  
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
	    	<feature name="AudioPlayer">
				<param name="ios-package" value="AudioPlayer" />
			</feature>
		</config-file>
		<source-file src="src/ios/AudioPlayer.swift" target-dir="src" />
		<source-file src="src/ios/AVPlayerViewControllerExtension.swift" target-dir="src" />
		<source-file src="src/ios/AudioPlayerService.swift" target-dir="src" />
		<source-file src="src/ios/AudioState.swift" target-dir="src" />
		<framework src="MediaPlayer.framework" />
	</platform>

</plugin>