<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3425458C1CE525B200336074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>343F50FE1C8DAEEC0028C434</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>343F51071C8DAEEC0028C434</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>347E3A731C1DFFB500A11FD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>347E3A7D1C1DFFB500A11FD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
