<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com-shortsands-localnotification" version="0.0.1">
    <name>LocalNotification</name>
    <description>Cordova Plugin for LocalNotification</description>
    <author>Gary Griswold</author>
	<engines>
    	<engine name="cordova" version=">=6.0.0"/>
	</engines>
	<js-module name="LocalNotification" src="www/LocalNotification.js">
    	<clobbers target="LocalNotification" />
	</js-module>
    <platform name="ios">
		<config-file target="config.xml" parent="/*">
	    	<feature name="LocalNotification">
				<param name="ios-package" value="LocalNotification" />
			</feature>
		</config-file>
		<source-file src="src/ios/LocalNotification.swift" />
		<framework src="UserNotifications.framework" />
    </platform>
</plugin>