/**
* This css files pertains to the CodexView
*/
body {
	margin: 0;
	background-color: '#FF0000'; /* here to help debug flashes */
}
#codexRoot {
	position: absolute; /* Needed because codexRoot.style.y is set in CodexView */
	margin-left: 7%;
	margin-right: 7%;
	font-family: serif;
	font-size: 1.0rem; /* 14pt std */
	color: #000000;
	line-height: 1.3; /* non-std */
	text-align: start;
	z-index: 0;
}
/* Introduction Paragraph - Do same as p */
p.ip {
	text-align: start;
	text-indent: 0.125in;
}
/* Paged Layout */
/*body {// not working
	page: auto;
	break-before: avoid-page;
	orphans: 2;
	widows: 2;
	column-count: 3;
	column-gap: 2.5%;
}*/
/* remove scrollbars, ideally only for #codexRoot
but, I have only been able to do it for all. */
/* scrollbars are absent without this 1/21/2016 */
/*::-webkit-scrollbar { 
    display: none;
}*/
/* article element is at beginning of each book */
article { /* non-std */
	margin-bottom: 1.0in;
}
/* Book Title Main */
p.mt {
	font-weight: bold;
	font-size: 1.66rem;
	text-align: center;
	margin-bottom: 4pt;
	margin-top: 8pt;
	color: #2A48B4; /* non-std */
}
/* Book Main Title, Level 1 */
p.mt1 {
	font-weight: bold;
	font-size: 1.66rem;
	text-align: center;
	margin-bottom: 4pt;
	margin-top: 2pt;
	color: #2A48B4; /* non-std */
}
/* Book Title Above Main TitleSmaller */
p.mt2 {
	font-size: 1.33rem;
	font-style: italic;
	text-align: center;
	margin-bottom: 2pt;
	color: #2A48B4; /* non-std */
}
/* Book Title Smallest */
p.mt3 {
	font-weight: bold;
	font-size: 1.33rem;
	text-align: center;
	margin-bottom: 2pt;
	margin-top: 2pt;
	color: #2A48B4; /* non-std */
}
/* Major Section Heading */
p.ms {
	font-weight: bold;
	font-size: 1.16rem;
	text-align: center;
	margin-bottom: 4pt;
	margin-top: 16pt;
	color: #2A48B4; /* non-std */
}
/* Major Section Heading Level 1 */
p.ms1 {
	font-weight: bold;
    font-size: 1.16rem;
    text-align: center;
    margin-bottom: 4pt;
	margin-top: 16pt;
	color: #2A48B4; /* non-std */
}
/* Heading - Section Level 1 */
p.s1 {
	font-weight: bold;
	text-align: center;
	margin-bottom: 4pt;
	margin-top: 8pt;
	color: #2A48B4; /* non-std */
}
/* Heading - Section Level 2 */
p.s2 {
	font-style: italic;
	text-align: center;
	margin-bottom: 4pt;
	margin-top: 8pt;
	color: #2A48B4; /* non-std */
}
/* Heading - Parallel References */
p.r {
	font-style: italic;
	text-align: center;
	margin-bottom: 4pt;
	color: #2A48B4; /* non-std */
}
/* Descriptive Title */
p.d {
	font-style: italic;
	text-align: center;
	margin-bottom: 4pt;
	margin-top: 4pt;
	color: #2A48B4; /* non-std */
}
/* Chapter Number Format */
p.c {
	font-size: 1.5rem;
	color: #2A48B4; /* non-std */
	text-align: start;
	margin-top: 8pt;
	margin-bottom: 4pt;
}
/* p.cl Chapter Label is not yet supported
the p.cl appears once at the beginning of Psalms
and needs to be repeated with each chapter.
Supporting this is a TBD */
/* Verse Number Format */
span.v {
	font-family: sans-serif; /* non-std */
	font-size: 0.66rem;
	color: #777777; /* non-std */
	text-align: start;
	vertical-align: text-top;
	/* white-space: nowrap; std, but meaningless, use &nbsp; */
}
/* Normal Paragraph Text */
p.p {
	text-align: start;
	text-indent: 0.125in;
}
/* Normal Paragraph w/o Indentation */
p.m {
	text-align: start;
	text-indent: 0;
}
/* p.b is blank line */
p.b {
	text-indent: start;
	font-size: 0.83rem;
}
/* Start of Blockquote */
p.mi {
	text-align: start;
	margin-left: 0.25in;
	margin-right: 0.25in;
}
/* Continuation of Blockquote */
p.pi {
	text-align: start;
	text-indent: 0.125in;
	margin-left: 0.25in;
	margin-right: 0.25in;
}
/* Out indented list item */
p.li {
	text-indent: -0.375in;
	text-align: start;
	margin-left: 0.5in;
}
/* Out indented list item level 1 */
p.li1 {
	text-indent: -0.375in;
	text-align: start;
	margin-left: 0.5in;
}
/* Speaker Name */
p.sp {
	font-style: italic;
	text-align: start;
	margin-bottom: 4pt;
	margin-top: 8pt;
}
/* Poetry First Line */
p.q {
	text-align: start;
	text-indent: -1.0in;
	margin-left: 1.25in;
	margin-top: 0; /* non-std */
	margin-bottom: 0; /* non-std */
}
/* Poetry First Line */
p.q1 {
	text-align: start;
	text-indent: -1.0in;
	margin-left: 1.25in;
	margin-top: 0; /* non-std */
	margin-bottom: 0; /* non-std */
}
/* Poetry Second Line */
p.q2 {
	text-align: start;
	text-indent: -0.75in;
	margin-left: 1.25in;
	margin-top: 0; /* non-std */
	margin-bottom: 0; /* non-std */
}
/* Poetry Centered */
p.qc {
	text-align: center;
}
/* Poetry, Acrostic Heading|Marker */
p.qa {
	font-style: italic;
	text-align: start;
}
/* Continuation Paragraph as start of Chapter */
p.nb {
	text-align: start;
	text-indent: 0;
}
/* Selah */
span.qs {
	display: block; /* non-std */
	text-align: right; /* non-std left is std */
	/* This needs to right align with the poetry, not the width of the page. */
	font-style: italic;
}
/* Words of Jesus */
span.wj {
	color: #FF3333; /* std is #FF0000 */
	text-align: start;
}
/* Translator's Addition */
span.add {
	/* font-weight: bold; std */
	font-style: italic;
	text-align: start;
}
/* Name of Diety */
span.nd {
	text-align: start;
	/* text-decoration: underline; std */
	text-transform: uppercase; /* non-std */
}
/* Proper Name */
span.pn {
	text-align: start;
	font-weight: bold;
	text-decoration: underline;
}
/* Transliterated Word */
span.tl {
	font-style: italic;
	text-align: start;
}
/* footnote references */
span.topf, span.topx {
	text-align: start;
	color: #FFB4B5; /* non-std */
}
/* footnotes */
span.f, span.ft {
	text-indent: start;
	color: #555555; /* non-std */
	background-color: #FFFFB4; /* non-std */
	/* font-style: italic; */
}
/* verse number embedded in footnote */
span.fv {
	text-align: start;
	vertical-align: text-top;
	font-size: 0.66rem; 
	font-family: sans-serif; /* non-std? */
}
/* footnote alternate translation */
span.fqa {
	text-align: start;
	font-style: italic;
	color: #999999 ; /* non-std */
	background-color: #FFFFB4; /* non-std */
}
/* cross references */
span.x, span.xt {
	text-align: start;
	color: #555555; /* non-std */
	background-color: #CEE7FF; /* non-std */
}/*
* Copyright.css
*/
span.copyright {
	font-family: sans-serif;
	font-size: 0.66rem;
	color: #777777;
	vertical-align: text-middle; /* to vertically align text to hand in copylink */
}
span.copylink {
	font-size: 1.0rem;
	vertical-align: text-top;
	color: blue;
}
#attribution {
  background-color: rgba(76,192,133,0.1);/*rgba(255, 246, 233, 0.9);*/
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: right; /* Needed to right align X */
}
p.attribVers {
	font-size: 1.33rem;
	text-align: center;
	margin-bottom: 0px;
}
p.attribCopy {
	font-size: 1.2rem;
	text-align: center;
	margin-top: 0px;
}
p.attribLink {
	color: blue;
	text-decoration: underline;
	text-align: center;
}
#closeIcon {
	margin-top: 7px;
	margin-bottom: 0px;
}
span.copyTitle {
	margin-bottom: 0px;
	font-family: sans-serif;
	font-size: 1.5rem;
	color: #2E9EC9;
}

/**
* This css files pertains to the HistoryView
*/

#historyRoot {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 200;
  /*border-style: solid; for testing */
}
#historyTabBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li.historyTab {
  margin: 0;
  padding: 2px;
  text-align: right;
}
button.historyTabBtn {
  background-color: #CFFFF6;
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: sans-serif;
  font-size: 0.8rem;
}/**
* This css file pertains to the QuestionView
*/
/* Static container for questionsView */
#questionsRoot {
	position: absolute; /* Needed because questionsRoot.style.y is set in AppControllerView */
	width: 80%;
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	z-index: 20;
}
/* Generated container for all questions and answers */
#questionsView {
	margin: 0;
}
/* Container for one question and answer */
div.oneQuestion {
	font-family: sans-serif;
	font-size:1.0rem;
	/* width is set in QuestionsView */
	background: #fff;
	padding: 6px 6px 6px 8px;
	border: solid 1px #bcbbbb;
	outline: none;
	border-radius: 0.5em;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
/* First line of Question, contains reference and date */
div.queTop {
}
/* Question Reference */
p.queRef {
	margin: 0;
	float: left;
	font-weight:'bold';
}
/* Question Date */
p.queDate {
	margin: 0;
	float: right;
}
/* Question Text */
p.queText {
	margin: 3px;
	clear: both;
	font-family: serif;
}
/* Line between question and answer */
hr.ansLine {

}
/* First line of Answer, contains instructor and date */
div.ansTop {

}
/* Instructor name */
p.ansInstructor {
	margin: 0;
	float: left;
	font-weight:'bold';
}
/* Answer Date */
p.ansDate {
	margin: 0;
	float: right;
}
/* Answer Text */
p.ansText {
	margin: 0;
	clear: both;
	font-family: serif;
}
/* Question submit button */
#inputBtn {
	margin-top: 1%;
	margin-left: 70%;
	margin-right: 5%;
	margin-bottom: 5%;
	background-color: #2E9EC9;
	border-radius: 1em;
}
.questionBorder {
	display: inline-block;
	position: static;
	/* width and padding are set in questionsView */
	margin-top:5px;
	margin-bottom:5px;
	border: solid 1px #d2d2d2;
	border-radius: 0.5em;
	box-shadow: 0 1px 0px rgba(0,0,0,.1);
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
}
.questionField {
	/* width is set in QuestionsView */
	font-family: sans-serif;
	font-size:1.3rem;
	background: #fff;
	padding: 6px 6px 6px 8px;
	border: solid 1px #bcbbbb;
	border-radius: 0.5em;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
/**
* This css files pertains to the SearchView
*/
#searchRoot {
	position: absolute; /* Needed because searchRoot.style.y is set in AppControllerView */
	width:80%;
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	z-index: 30;
}
.searchBorder {
	display: inline-block;
	position: static;
	/* width and padding are set dynamically in SearchView */
	border: solid 1px #d2d2d2;
	border-radius: 2.0em;
	box-shadow: 0 1px 0px rgba(0,0,0,.1);
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
}
.searchField {
	font-family: sans-serif;
	font-size:1.3rem;
	/* width is set dynamically in SearchView */
	background: #fff;
	padding: 6px 6px 6px 8px;
	border: solid 1px #bcbbbb;
	border-radius: 1.0em;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
/* Search Results Book Name */
span.conBook {
	font-family: sans-serif;
	font-size: 1.3rem;
	text-align: start;
	/*margin-top: 8pt;*/
	margin-bottom: 0;
}
hr {
	margin-top: 0;
}
span.conRef {
	font-family: sans-serif;
	font-size: 1.0rem;
	text-align: start;
	font-weight: bold;
}
span.conVerse {
	font-family: serif;
	font-size: 1.0rem;
	text-align: start;	
}
span.conWord {
	font-weight: bold;
}
p.conMore {
	margin: 0;
	padding: 0;
	font-size: 4.0rem;
	font-weight: 900;
	line-height: 2.0rem;
	color: #2A48B4;
	border: solid;
	border-width: thin;
	border-color: grey;
}
/**
* This css file pertains to the StatusBar
*/
body {
	width:100%;
}

#statusRoot {
	margin: 0;
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1000;
}
#statusRow td {
	border:none;
	padding:0;
	margin:0;
}





/**
* This css file pertains to the TableContentsView
*/

#tocRoot {
	position: absolute; /* Needed because tocRoot.style.y is set in AppControllerView */
	left: 0;
	top: 0;
	margin-top: 0;
	margin-bottom: 0%; /* this doesn't seem to work */
	margin-left: 0;
	margin-right: 0;
	z-index: 100;
	width: 100%;
}
/* Table of Contents Page Format */
div.tocPage { /* non-std */
	padding-left: 10%;
	padding-right: 10%;
}
/* Table of Contents Book Name Format */
p.tocBook { /* non-std */
	font-family: sans-serif;
	font-size: 1.5rem;
	color: #777777;
	text-align: start;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
/* Table of Contents Chapter Number Format */
table.tocChap { /* non-std */
	table-layout: fixed;
	border-collapse: collapse;
	font-family: sans-serif;
	font-size: 1.0rem;
	color: #777777;
	width: 100%;
	text-align: center;
	line-height: 2.0;
}
/* Table of Contents Chapter number cells */
td.tocChap { /* non-std */
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
}
body {
    margin:0;
}
#settingRoot {
    /*backgroundColor is set in SettingsView.showView */
    position: absolute; /* Needed because settingRoot.style.y is set in AppControllerView */
    padding-left:3%;
    padding-right:3%;
    padding-top:1%;
    padding-bottom:10px;
    margin:0;
}
td {
	border:none;
}
#settingsTable {
	width:100%;
}
#sampleText {
	font-family: serif;
	background-color: #EEEEEE;
	color:black;
	padding: 10px;
}
td.rowSpace {
	padding: 7px;
	width:100%;
}

/* Font Size Control */
#fontSizeControl {
	padding-top:25px;
	padding-bottom:10px;
}
#fontSizeSlider {
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;
	border-radius: 24px; /* was 7px */
	background-color: #3EA9D2;
	width:80%;
	height:48px; /* was 7px */
}
#fontSizeThumb {
	height: 40px;
	width: 40px;
	z-index:100;
	margin-top: -30px;
	background: #eee;
	border: solid 4px #bcbbbb;
	border-radius: 2em;
	box-shadow: 4px 4px 5px #777;
	-webkit-box-shadow: 4px 4px 5px #777;
}

/* Font Color Control */
/* Keep as example of toggle control */
/*
td.tableLeftCol {
    width:40%;
    vertical-align:middle;
    text-align:center;
}
td.tableCtrlCol {
    width:20%;
    vertical-align:middle;
    text-align:center;
    margin:auto;
}
td.tableRightCol {
    width:40%;
    vertical-align:middle;
    text-align: center;
}
#blackBackground {
	background-color:white;
	color:black;
	border-radius: 14px;
}
#whiteBackground {
	background-color:black;
	color:white;
	border-radius: 14px;
}
#fontColorSlider {
	background-color:#EEEEEE;
	height:44px;
	width:88px;
	border-radius: 22px;
	box-shadow: inset 0 0 5px #888;
	border: solid;
	border-width:1px;
	margin:auto;
}
#fontColorThumb {
	height: 34px;
	width: 34px;
	z-index:100;
	background: #eee;
	border: solid 4px #bcbbbb;
	border-radius: 2em;
	box-shadow: 4px 4px 5px #777;
}
*/
/* VersionsView CSS */
table.ctry {
    background-color: #EEEEEE;
	border-radius: 48px;
	margin-bottom: 20px;
	font-family: sans-serif;
	box-shadow: 7px 7px 7px #777;
	-webkit-box-shadow: 7px 7px 7px #777;
	width: 100%;
	direction: ltr;
}
td.ctryFlag {
	vertical-align: middle;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 10px; /* Added for World may be incorrect for other flags. */
	padding-bottom: 10px; /* Added for World may be incorrect for other flags. */
	width: 10%;
}
td.ctryFlag img {
	vertical-align: middle;
}
td.localCtryName {
	font-size: 1.5rem;
	font-weight: bold;
	vertical-align: middle;
	width: auto;	
}
td.ctryName {
	font-size: 1.0rem;
	font-weight: bold;
	padding-left: 4px;
	vertical-align: middle;
	width: auto;
}
table.vers {
	width: 100%;
    background-color: #EEEEEE;
	border-radius: 12px;
	margin-bottom: 20px;
	box-shadow: 4px 4px 5px #777;
	-webkit-box-shadow: 4px 4px 5px #777;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 4%;
	padding-right:4%;
	direction: ltr;
}
td.versLeft {
	width:90%;
}
td.versRight {
	text-align:right;
}
p.langName {
	font-size: 1.0rem;
	margin-top:0px;
	margin-bottom:10px;	
}
span.versName {
	font-size: 1.2rem;
}
button.versIcon {
	border: none; 
	background-color: #EEEEEE; /* same as table.vers */
}
