<!DOCTYPE html>
<html style="height: 100%">
<head>
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="../www/Fields.css">
</head>
<body style="height: 100%;">
	<table id="loginView" style="height: 100%; width: 100%; font-family: helvetica, sans-serif; background: radial-gradient(at top right, rgba(255, 255, 0, 0.8), #006bff, rgba(3, 47, 167, 0.83), #009970, #148000);">
		<tr style="height: 33%">
			<td style="width: 25%"></td>
			<td style="width: 50%; text-align: center; vertical-align: bottom">
				<p style="font-family: Avenir-Light; font-size: 1.5rem; color: #f9fbfc">Sign-In to My Bible Q & A</p>
			</td>
			<td style="width: 25%"></td>
		</tr>
		<tr style="height: 34%">
			<td></td>
			<td id="loginForm" style="text-align: center; vertical-align: middle;">
				<p class="fieldBorder" style="margin-bottom: 1px">
					<input class="inputField" type="text" placeholder="Username" size="20" style="font-size: large">
				</p>
				<p class="fieldBorder" style="margin-top: 1px">
					<input class="inputField" type="password" placeholder="Password" size="17" style="font-size: large">
					<input type="button" class="goButton" value="Go">
				</p>
			</td>
			<td></td>
		<tr style="height: 33%">
			<td></td>
			<td style="text-align: center; font-size: 0.8rem; vertical-align: top;"><span id="loginResponse"><a href="" style="color:#f1f4b2">Did you forgot your Username or Password?</a></span></td>
			<td></td>
		</tr>
	</table>
</body>
</html>