<html>
<head>
</head>
<body>
	<table id="loginView" height="100%" width="100%" style="font-family: helvetica, sans-serif">
		<tr height="33%">
			<td width="33%"/>
			<td style="text-align: center; vertical-align: bottom">
				<p>Sign In to Short Sands</p>
			</td>
			<td width="33%"/>
		</tr>
		<tr height="34%">
			<td width="33%"/>
			<td id="loginForm" width="34%" style="text-align: center; vertical-align: middle; border: solid; border-width: thin; border-radius: 4px">				
				<p>
					<!--<span>Username</span>-->
					<input type="text" placeholder="Username" style="margin-bottom: 0px">
				<!--</p>
				<p>-->
					<!--<span>Password</span>-->
					<input type="password" placeholder="Password" style="margin-top: 0px">
				</p>
				<p>
					<button>Sign In</button>
					<a href="">Forgot Password</a>
				</p>
			</td>
			<td width="33%"/>
			<tr height="33%">
				<td/>
				<td><span id="loginResponse"></span></td>
				<td/>
			</tr>
	</table>
</body>
</html>