<!DOCTYPE html>
<html style="height: 100%">
	<head>
		<title>Title</title>
		<script type="text/javascript">
			function unitTest() {
				var numQuestions = document.getElementById('numQuestions');
				numQuestions.textContent = 'There are 21 unassigned questions';
				var oldestQuestion = document.getElementById('oldestQuestion');
				oldestQuestion.textContent = 'The oldest question was submitted at Aug 24, 2015, 8:23 AM.'
				var waitTime = document.getElementById('waitTime');
				waitTime.textContent = 'The oldest question has been waiting 10 hours.'
			}
			function assignQuestion() {
				console.log('Assign Question Clicked');
			}
		</script>
		<link rel="StyleSheet" type="text/css" href="../www/Buttons.css">
		<style type="text/css">
			p.queueText {
				font-family: sans-serif;
				font-size: large;
				color: grey;
			}
		</style>
	</head>
	<body onload="unitTest()" style="height: 100%">
		<table id="queueView" style="height: 100%">
			<tr style="height: 25%">
			</tr>
			<tr style="height: 5%">
				<td style="width: 20%"></td>
				<td style="width: 60%"><p id="numQuestions" class="queueText">num</p></td>
				<td style="width: 20%"></td>
			<tr style="height: 5%">
				<td></td>
				<td><p id="oldestQuestion" class="queueText">oldest</p></td>
				<td></td>
			</tr>
			<tr style="height: 5%">
				<td></td>
				<td><p id="waitTime" class="queueText">wait</p></td>
				<td></td>
			</tr>
			<tr style="height: 60%">
				<td></td>
				<td style="text-align: center"><button class="button bigrounded blue" onclick="assignQuestion()">Assign Me A Question</button></td>
				<td></td>
		</table>
	</body>
</html>