<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shortsands.yourbible" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Your Bible</name>
    <description>
        A free Bible App designed to protect your privacy.
    </description>
    <author email="gary@shortsands.com" href="http://your-bible.org">
        Gary N Griswold, Short Sands
    </author>
    <content src="index.html" />
    <preference name="BackupWebStorage" value="local" /> <!-- prevent backup to icloud -->
    <preference name="iosPersistentFileLocation" value="Library" /> <!-- store in library instead of documents ios -->
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="StatusBarStyle" value="lightcontent" /> <!-- is default on ios, when status bar is installed -->
    <!-- ios -->
    <preference name="SuppressesIncrementalRendering" value="true" />
    <preference name="Orientation" value="portrait" />
    <!-- whitelist -->
    <plugin name="cordova-plugin-whitelist" version="1" />
    <!-- The following are all associated with whitelist plugin -->
    <access origin="*" />
    <!-- <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform> -->
</widget>
