<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shortsands.yourbible" version="1.9.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SafeBible</name>
    <description>A Bible App that is safe to use in any country.</description>
    <author email="gary@shortsands.com" href="http://safebible.org">Short Sands, LLC</author>
    <content src="index.html" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="iosExtraFilesystems" value="bundle,library,cache" />
    <preference name="AndroidExtraFilesystems" value="files,cache,root" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="1000" />
    <preference name="ShowSplashScreenSpinner" value="true" />
    <access origin="*" />
    <platform name="android">
        <icon density="ldpi" src="res/android/icons/ldpi.png" />
        <icon density="mdpi" src="res/android/icons/mdpi.png" />
        <icon density="hdpi" src="res/android/icons/hdpi.png" />
        <icon density="xhdpi" src="res/android/icons/xhdpi.png" />
        <icon density="xxhdpi" src="res/android/icons/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/icons/xxxhdpi.png" />
        <splash density="land-hdpi" src="res/android/splash/land-hdpi.png" />
        <splash density="land-ldpi" src="res/android/splash/land-ldpi.png" />
        <splash density="land-mdpi" src="res/android/splash/land-mdpi.png" />
        <splash density="land-xhdpi" src="res/android/splash/land-xhdpi.png" />
        <splash density="port-hdpi" src="res/android/splash/port-hdpi.png" />
        <splash density="port-ldpi" src="res/android/splash/port-ldpi.png" />
        <splash density="port-mdpi" src="res/android/splash/port-mdpi.png" />
        <splash density="port-xhdpi" src="res/android/splash/port-xhdpi.png" />
    </platform>
    <platform name="ios">
        <icon height="180" src="res/ios/icons/icon-60@3x.png" width="180" />
        <icon height="60" src="res/ios/icons/icon-60.png" width="60" />
        <icon height="120" src="res/ios/icons/icon-60@2x.png" width="120" />
        <icon height="76" src="res/ios/icons/icon-76.png" width="76" />
        <icon height="152" src="res/ios/icons/icon-76@2x.png" width="152" />
        <icon height="40" src="res/ios/icons/icon-40.png" width="40" />
        <icon height="80" src="res/ios/icons/icon-40@2x.png" width="80" />
        <icon height="57" src="res/ios/icons/icon.png" width="57" />
        <icon height="114" src="res/ios/icons/icon@2x.png" width="114" />
        <icon height="72" src="res/ios/icons/icon-72.png" width="72" />
        <icon height="144" src="res/ios/icons/icon-72@2x.png" width="144" />
        <icon height="29" src="res/ios/icons/icon-small.png" width="29" />
        <icon height="58" src="res/ios/icons/icon-small@2x.png" width="58" />
        <icon height="50" src="res/ios/icons/icon-50.png" width="50" />
        <icon height="100" src="res/ios/icons/icon-50@2x.png" width="100" />
        <splash height="480" src="res/ios/splash/Default~iphone.png" width="320" />
        <splash height="960" src="res/ios/splash/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="res/ios/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="res/ios/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="768" src="res/ios/splash/Default-Landscape~ipad.png" width="1024" />
        <splash height="1536" src="res/ios/splash/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="1136" src="res/ios/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="res/ios/splash/Default-667h.png" width="750" />
        <splash height="2208" src="res/ios/splash/Default-736h.png" width="1242" />
        <splash height="1242" src="res/ios/splash/Default-Landscape-736h.png" width="2208" />
    </platform>
    <engine name="android" spec="~6.1.0" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="com-shortsands-aws" spec="/Users/garygriswold/ShortSands/BibleApp/Plugins/AWS" />
    <plugin name="com-shortsands-pkzip" spec="/Users/garygriswold/ShortSands/BibleApp/Plugins/PKZip" />
    <plugin name="com-shortsands-videoplayer" spec="/Users/garygriswold/ShortSands/BibleApp/Plugins/VideoPlayer" />
    <plugin name="cordova-plugin-console" spec="~1.0.4" />
    <plugin name="cordova-plugin-device" spec="~1.1.3" />
    <plugin name="cordova-plugin-file" spec="~4.3.0" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.0" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.4" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.5.0" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.0" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="~1.1.0" />
    <plugin name="cordova-plugin-zip" spec="~3.1.0" />
    <plugin name="cordova-sqlite-ext" spec="~0.10.2" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
</widget>
