<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com-shortsands-aws"
    version="0.0.1">
	<name>AWS</name>
	<description>Plugin to AWS Services</description>
	<author>Gary Griswold</author>
	<engines>
    	<engine name="cordova" version=">=6.0.0"/>
	</engines>

	<js-module name="AWS" src="www/AWS.js">
    	<clobbers target="AWS" />
	</js-module>

	<platform name="android">
    	<config-file target="config.xml" parent="/*">
			<feature name="AWS">
				<param name="android-package" value="com.shortsands.aws.s3.AwsS3"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
		</config-file>
		<source-file src="src/android/com/shortsands/io/FileManager.java" />
		<source-file src="src/android/com/shortsands/io/Zip.java" />
		<source-file src="src/android/com/shortsands/aws/s3/AwsS3.java" />
		<source-file src="src/android/com/shortsands/aws/s3/AwsS3AbstractListener.java" />
		<source-file src="src/android/com/shortsands/aws/s3/Credentials.java" />
		<source-file src="src/android/com/shortsands/aws/s3/DownloadDataListener.java" />
		<source-file src="src/android/com/shortsands/aws/s3/DownloadFileListener.java" />
		<source-file src="src/android/com/shortsands/aws/s3/DownloadTextListener.java" />
		<source-file src="src/android/com/shortsands/aws/s3/DownloadZipFileListener.java" />
		<source-file src="src/android/com/shortsands/aws/s3/UploadDataListener.java" />
		<source-file src="src/android/com/shortsands/aws/s3/UploadFileListener.java" />
		<source-file src="src/android/com/shortsands/aws/s3Plugin/AwsS3Plugin.java" />
		<source-file src="src/android/com/shortsands/aws/s3Plugin/AwsSSPluginListener.java" />
		<source-file src="src/android/com/shortsands/aws/s3Plugin/DownloadPluginDataListener.java" />
		<source-file src="src/android/com/shortsands/aws/s3Plugin/DownloadPluginFileListener.java" />
		<source-file src="src/android/com/shortsands/aws/s3Plugin/DownloadPluginTextListener.java" />
		<source-file src="src/android/com/shortsands/aws/s3Plugin/DownloadPluginZipFileListener.java" />
		<source-file src="src/android/com/shortsands/aws/s3Plugin/UploadPluginDataListener.java" />
		<source-file src="src/android/com/shortsands/aws/s3Plugin/UploadPluginFileListener.java" />
		<!-- change library to a more limited one when done. -->
		<!-- <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/> -->
		<!-- Need something to copy build-extras.gradle to proper location. -->
	</platform>
  <!--
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
	    	<feature name="VideoPlayer">
				<param name="ios-package" value="VideoPlayer" />
			</feature>
		</config-file>
		<source-file src="src/ios/VideoPlayer/VideoPlayer.swift" target-dir="src/videoplayer" />
		<source-file src="src/ios/VideoPlayer/AVPlayerViewControllerExtension.swift" target-dir="src/videoplayer" />
		<source-file src="src/ios/VideoPlayer/VideoViewPlayer.swift" target-dir="src/videoplayer" />
		<source-file src="src/ios/VideoPlayer/VideoViewState.swift" target-dir="src/videoplayer" />
		<framework src="MediaPlayer.framework" />
	</platform>
-->
</plugin>