/**
* This css files pertains to the SearchView
*/

#searchRoot {
	margin: 10%;
}
/* Search Results Book Name */
span.conBook {
	font-family: sans-serif;
	font-size: 1.3em;
	text-align: start;
	/*margin-top: 8pt;*/
	margin-bottom: 0;
}
hr {
	margin-top: 0;
}
span.conRef {
	font-family: sans-serif;
	font-size: 1.0em;
	text-align: start;
	font-weight: bold;
}
span.conVerse {
	font-family: serif;
	font-size: 1.0em;
	text-align: start;	
}
span.conWord {
	font-weight: bold;
}
