/**
* This css files pertains to the CodexView
*/
body {
	margin: 0;
	background-color: '#FF0000'; /* here to help debug flashes */
}
#codexRoot {
	position: absolute; /* Needed because codexRoot.style.y is set in CodexView */
	margin-left: 7%;
	margin-right: 7%;
	font-family: serif;
	font-size: 14pt;
	color: #000000;
	line-height: 1.3; /* non-std */
	text-align: justify; /* non-std */
	direction: ltr;
	z-index: 0;
}
/* Paged Layout */
/*body {// not working
	page: auto;
	break-before: avoid-page;
	orphans: 2;
	widows: 2;
	column-count: 3;
	column-gap: 2.5%;
}*/
/* remove scrollbars, ideally only for #codexRoot
but, I have only been able to do it for all. */
::-webkit-scrollbar { 
    display: none;
}
/* article element is at beginning of each book */
article { /* non-std */
	margin-bottom: 1.0in;
}
/* Book Title Main */
p.mt {
	font-weight: bold;
	font-size: 1.66em;
	text-align: center;
	margin-bottom: 4pt;
	margin-top: 8pt;
	color: #0943B2; /* non-std */
}
/* Book Main Title, Level 1 */
p.mt1 {
	font-weight: bold;
	font-size: 1.66em;
	text-align: center;
	margin-bottom: 4pt;
	margin-top: 2pt;
	color: #0943B2; /* non-std */
}
/* Book Title Above Main TitleSmaller */
p.mt2 {
	font-size: 1.33em;
	font-style: italic;
	text-align: center;
	margin-bottom: 2pt;
	color: #0943B2; /* non-std */
}
/* Book Title Smallest */
p.mt3 {
	font-weight: bold;
	font-size: 1.33em;
	text-align: center;
	margin-bottom: 2pt;
	margin-top: 2pt;
	color: #0943B2; /* non-std */
}
/* Section Heading */
p.ms {
	font-weight: bold;
	font-size: 1.16em;
	text-align: center;
	margin-bottom: 4pt;
	margin-top: 16pt;
	color: #0943B2; /* non-std */
}
/* Section Heading Level 1 */
p.ms1 {
	font-weight: bold;
    font-size: 1.16em;
    text-align: center;
    margin-bottom: 4pt;
	margin-top: 16pt;
	color: #0943B2; /* non-std */
}
/* Descriptive Title */
p.d {
	font-style: italic;
	text-align: center;
	margin-bottom: 4pt;
	margin-top: 4pt;
	color: #0943B2;
}
/* Chapter Number Format */
p.c {
	font-size: 1.5em;
	color: #005AB3; /* non-std */
	text-align: start;
	margin-top: 8pt;
	margin-bottom: 4pt;
}
/* p.cl Chapter Label is not yet supported
the p.cl appears once at the beginning of Psalms
and needs to be repeated with each chapter.
Supporting this is a TBD */
/* Verse Number Format */
span.v {
	font-family: sans-serif; /* non-std */
	font-size: 0.66em;
	color: #777777; /* non-std */
	text-align: start;
	vertical-align: text-top;
	white-space: nowrap;
}
/* Normal Paragraph Text */
p.p {
	text-align: start;
	text-indent: 0.125in;
}
/* Normal Paragraph w/o Indentation */
p.m {
	text-align:left;
	text-indent: 0;
}
/* p.b is blank line */
p.b {
	text-indent: start;
	font-size: 0.83em;
}
/* Start of Blockquote */
p.mi {
	text-align: start;
	margin-left: 0.25in;
	margin-right: 0.25in;
}
/* Continuation of Blockquote */
p.pi {
	text-align: start;
	text-indent: 0.125in;
	margin-left: 0.25in;
	margin-right: 0.25in;
}
/* Out indented list item */
p.li {
	text-indent: -0.375in;
	text-align: start;
	margin-left: 0.5in;
}
/* Out indented list item level 1 */
p.li1 {
	text-indent: -0.375in;
	text-align: start;
	margin-left: 0.5in;
}
/* Speaker Name */
p.sp {
	font-style: italic;
	text-align: start;
	margin-bottom: 4pt;
	margin-top: 8pt;
}
/* Poetry First Line */
p.q {
	text-align: start;
	text-indent: -1.0in;
	margin-left: 1.25in;
	margin-top: 0; /* non-std */
	margin-bottom: 0; /* non-std */
}
/* Poetry First Line */
p.q1 {
	text-align: start;
	text-indent: -1.0in;
	margin-left: 1.25in;
	margin-top: 0; /* non-std */
	margin-bottom: 0; /* non-std */
}
/* Poetry Second Line */
p.q2 {
	text-align: start;
	text-indent: -0.75in;
	margin-left: 1.25in;
	margin-top: 0; /* non-std */
	margin-bottom: 0; /* non-std */
}
/* Continuation Paragraph as start of Chapter */
p.nb {
	text-align: start;
	text-indent: 0;
}
/* Selah */
span.qs {
	display: block; /* non-std */
	text-align: right; /* non-std left is std */
	/* This needs to right align with the poetry, not the width of the page. */
	font-style: italic;
}
/* Words of Jesus */
span.wj {
	color: #FF3333; /* std is #FF0000 */
	text-align: start;
}
/* footnote references */
span.topf, span.topx {
	text-align: start;
	color: #FFB4B5; /* non-std */
}
/* footnotes */
span.f, span.ft {
	text-indent: start;
	color: #555555; /* non-std */
	background-color: #FFFFB4; /* non-std */
	/* font-style: italic; */
}
/* footnote alternate translation */
span.fqa {
	text-align: start;
	font-style: italic;
	color: #999999 ; /* non-std */
	background-color: #FFFFB4; /* non-std */
}
/* cross references */
span.x, span.xt {
	text-align: start;
	color: #555555; /* non-std */
	background-color: #CEE7FF; /* non-std */
}/**
* This css files pertains to the HistoryView
*/

#historyRoot {
  position: fixed;
  top: 70px; /* Will need to vary with device size */
  left: -150px; /* Will need to vary with device size */
	margin: 0;
  padding: 0;
  z-index: 10;
  /*border-style: solid; for testing */
}
#historyTabBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li.historyTab {
  margin: 0;
  padding: 2px;
  text-align: right;
}
button.historyTabBtn {
  background-color: #CFFFF6;
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: sans-serif;
  font-size: 1.0em;
}/**
* This css file pertains to the QuestionView
*/
/* Static container for questionsView */
#questionsRoot {
	position: absolute; /* Needed because questionsRoot.style.y is set in AppControllerView */
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	z-index: 20;
}
/* Generated container for all questions and answers */
#questionsView {
	margin: 0;
}
/* Container for one question and answer */
div.oneQuestion {	
	width:97%;
	font-family: sans-serif;
	font-size:1.0rem;
	background: #fff;
	padding: 6px 6px 6px 8px;
	border: solid 1px #bcbbbb;
	outline: none;
	border-radius: 0.5em;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
/* First line of Question, contains reference and date */
div.queTop {
}
/* Question Reference */
p.queRef {
	margin: 0;
	float: left;
	font-weight:'bold';
}
/* Question Date */
p.queDate {
	margin: 0;
	float: right;
}
/* Question Text */
p.queText {
	margin: 3px;
	clear: both;
	font-family: serif;
}
/* Line between question and answer */
hr.ansLine {

}
/* First line of Answer, contains instructor and date */
div.ansTop {

}
/* Instructor name */
p.ansInstructor {
	margin: 0;
	float: left;
	font-weight:'bold';
}
/* Answer Date */
p.ansDate {
	margin: 0;
	float: right;
}
/* Answer Text */
p.ansText {
	margin: 0;
	clear: both;
	font-family: serif;
}
/* Question submit button */
#inputBtn {
	margin-top: 1%;
	margin-left: 80%;
	margin-right: 5%;
	margin-bottom: 5%;
	background-color: #3684D6;
	border-radius: 1em;
}
.questionBorder {
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
	border: solid 1px #d2d2d2;
	padding: 3px 5px;
	border-radius: 1.0em;
	box-shadow: 0 1px 0px rgba(0,0,0,.1);
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
}
.questionField {
	width:100%;
	font-family: sans-serif;
	font-size:1.7rem;
	background: #fff;
	padding: 6px 6px 6px 8px;
	border: solid 1px #bcbbbb;
	outline: none;
	border-radius: 0.5em;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
/**
* This css files pertains to the SearchView
*/
#searchRoot {
	position: absolute; /* Needed because searchRoot.style.y is set in AppControllerView */
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	z-index: 30;
}
.searchBorder {
	width:100%;
	border: solid 1px #d2d2d2;
	padding: 3px 5px;
	border-radius: 2em;
	box-shadow: 0 1px 0px rgba(0,0,0,.1);
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
}
.searchField {
	font-family: sans-serif;
	font-size:1.7rem;
	background: #fff;
	padding: 6px 6px 6px 8px;
	border: solid 1px #bcbbbb;
	outline: none;
	border-radius: 2em;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
/* Search Results Book Name */
span.conBook {
	font-family: sans-serif;
	font-size: 1.3em;
	text-align: start;
	/*margin-top: 8pt;*/
	margin-bottom: 0;
}
hr {
	margin-top: 0;
}
span.conRef {
	font-family: sans-serif;
	font-size: 1.0em;
	text-align: start;
	font-weight: bold;
}
span.conVerse {
	font-family: serif;
	font-size: 1.0em;
	text-align: start;	
}
span.conWord {
	font-weight: bold;
}
/**
* This css file pertains to the StatusBar
*/

body {
	width:100%;
}

#statusRoot {
	margin: 0;
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1000;
}
#statusRow td {
	border:none;
	padding:0;
	margin:0;
}
#labelCell {
	width:50%;
	text-align: center;
}



/**
* This css file pertains to the TableContentsView
*/

#tocRoot {
	position: absolute; /* Needed because tocRoot.style.y is set in AppControllerView */
	left: 0;
	top: 0;
	margin-top: 1%;
	margin-bottom: 0%; /* this doesn't seem to work */
	margin-left: 10%;
	margin-right: 10%;
	z-index: 100;
}
/* Table of Contents Page Format */
div.tocPage { /* non-std */
}
/* Table of Contents Book Name Format */
p.tocBook { /* non-std */
	font-family: sans-serif;
	font-size: 1.5em;
	color: #777777;
	text-align: start;
}
/* Table of Contents Chapter Number Format */
table.tocChap { /* non-std */
	table-layout: fixed;
	border-collapse: collapse;
	font-family: sans-serif;
	font-size: 1.0em;
	color: #777777;
	width: 100%;
	text-align: center;
	line-height: 2.0;
}
/* Table of Contents Chapter number cells */
td.tocChap { /* non-std */
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
}
body {
    margin:0;
}
#settingRoot {
    /*backgroundColor is set in SettingsView.showView */
    position: absolute; /* Needed because settingRoot.style.y is set in AppControllerView */
    padding-left:3%;
    padding-right:3%;
    padding-top:1%;
    padding-bottom:20px;
    margin:0;
}
td {
	border:none;
}
#settingsTable {
	width:100%;
}
#sampleText {
	background-color: white;
	color:black;
	padding: 10px;
}
td.rowSpace {
	padding: 7px;
}

/* Font Size Control */
#fontSizeControl {
	padding-top:25px;
	padding-bottom:10px;
}
#fontSizeSlider {
	margin-left:auto;
	margin-right:auto;
	border-radius: 7px;
	background-color:#00008B;
	width:70%;
	height:7px;
}
#fontSizeThumb {
	height: 40px;
	width: 40px;
	z-index:100;
	margin-top: -30px;
	background: #eee;
	border: solid 4px #bcbbbb;
	outline: none;
	border-radius: 2em;
	box-shadow: 4px 4px 5px #777;
}

/* Font Color Control */
td.tableLeftCol {
    width:40%;
    vertical-align:middle;
    text-align:center;
}
td.tableCtrlCol {
    width:20%;
    vertical-align:middle;
    text-align:center;
    margin:auto;
}
td.tableRightCol {
    width:40%;
    vertical-align:middle;
    text-align: center;
}
#blackBackground {
	background-color:white;
	color:black;
	border-radius: 14px;
}
#whiteBackground {
	background-color:black;
	color:white;
	border-radius: 14px;
}
#fontColorSlider {
	background-color:#EEEEEE;
	height:44px;
	width:88px;
	border-radius: 22px;
	box-shadow: inset 0 0 5px #888;
	border: solid;
	border-width:1px;
	margin:auto;
}
#fontColorThumb {
	height: 34px;
	width: 34px;
	z-index:100;
	background: #eee;
	border: solid 4px #bcbbbb;
	border-radius: 2em;
	box-shadow: 4px 4px 5px #777;
}

/* VersionsView CSS */
div.ctry {
    background-color: white;
	border-radius: 48px;
	margin-bottom: 20px;
	font-family: sans-serif;
	font-size: 48px;
	font-weight: bold;
	box-shadow: 7px 7px 7px #777;
}
div.ctry img {
	vertical-align: middle;
	margin-left: 24px;
	padding-right: 7px;
}
div.ctry span {
	vertical-align: middle;
}
table.vers {
	width:85%;
    background-color: #EEEEEE;
	border-radius: 12px;
	margin-bottom: 20px;
	margin-left: 10%;
	box-shadow: 4px 4px 5px #777;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 4%;
	padding-right:4%;
}
td.versLeft {
	width:90%;
}
td.versRight {
	text-align:right;
}
p.langName {
	font-size: 24px;
	margin-bottom:10px;			
}
span.versName {
	font-size: 18px;
}
span.copy {
	font-size: 12px;
}
